.new-band {
  width: 82%;
}

.new-band-button {
  float: right;
  padding: 3px 10px;
}

.new-song {
  width: 50%;
}

.new-song-button {
  margin-left: 20px;
}

.rating-panel {
  display: inline-block;
  float: right;
}

.rating-star {
  display: inline;
  float: left;
  margin-left: 3px;
}

.page-header a:hover {
  text-decoration: none;
}

.band-info {
  margin-top: 20px;
}

.nav-tabs > li > a.active,
.nav-tabs > li > a.active:hover,
.nav-tabs > li > a.active:focus {
  color: #555;
  cursor: default;
  background-color: #FFF;
  border: 1px solid #DDD;
  border-bottom-color: transparent;
}

.band-description-header {
  margin-bottom: 20px;
}

.song-filter-search-panel {
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
  display: block;
}

.song-filter-search-panel .active .sorting-button {
  z-index: 2;
  color: #fff;
  background-color: #428bca;
  border-color: #428bca;
}
.song-filter-search-panel .sorting-link + .sorting-link {
  margin-left: 5px;
}
.sorting-panel {
  float: left;
}
@media (max-width: 690px) {
  .sorting-panel {
    margin-bottom: 5px;
  }
}
.search-panel {
  display: inline-block;
  float: right;
}
.search-panel input {
  padding: 4px 12px 6px 12px;
}
.search-panel .input-group-btn {
  display: inline-block;
}
.search-panel .input-group-btn .search-button {
  margin-left: -5px;
}
