<div class="row">
  <ul class="list-group songs">
    <li class="list-group-item">
      {{input type='text' class='new-band' placeholder='New song' value=title}}
      <button class='new-song-button' {{action 'createSong'}}>Add</button>
    </li>
    {{#each model as |song|}}
      <li class="list-group-item song">
        {{song.title}}
        <span class="rating pull-right">{{song.rating}}</span>
      </li>
    {{/each}}
  </ul>
</div>
