<div class="row">
  <ul class="list-group songs">
    {{#each model as |song|}}
      <li class="list-group-item song">
        {{song.title}}
        <span class="rating pull-right">{{song.rating}}</span>
      </li>
    {{/each}}
  </ul>
</div>
